@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
